@import url("https://unpkg.com/@picocss/pico@latest/css/pico.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body,
body > main {
  padding: 16px;
  max-width: 1280px;
  margin: 0 auto;
}

body > header {
  padding: 0;
  margin: 0;
  padding-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --typography-spacing-vertical: 0;
}

textarea {
  resize: none;
  border: none;
}

.smaller {
  font-size: 0.8em;
}

b,
.bold {
  font-weight: bold;
}

.ul {
  text-decoration: underline;
}

.job-link {
  padding-left: 1.5em;
  background-image: url(https://mayvue.applytojob.com/img/v1.1/favicons/favicon.ico);
  background-size: contain;
}

section h2 {
  border-bottom: 1px solid;
}

ul > li {
  list-style: none;
  padding-bottom: 0.25rem;
}

ul > li:last-child {
  padding-bottom: 0;
}

ul > li::before {
  content: "☑ ";
}

.skills {
  display: grid;
  padding-left: 1rem;
  grid-template-columns: repeat(auto-fit, 9rem);
}

.skills > li {
  list-style: none;
  text-transform: lowercase;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: smaller;
}

.skills li::before {
  content: "☑ ";
  font-style: normal;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0;
  column-gap: 3rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 0.25rem;
  row-gap: 1rem;
}

nav > p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0;
}

nav > p > span,
nav > p > a {
  margin-left: 0; /* this fixes the gap between icon and anchor..but how? */
}

.col1-2 {
  grid-column: 1 / 3;
}

.rowspan-2 {
  grid-row: span 2;
}

.colspan {
  grid-column: span 2;
}

.colspan-2 {
  grid-column: span 2;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opaque {
  background-color: var(--background-color);
  z-index: 1;
}

.sticky {
  position: sticky;
  top: 0;
  padding-bottom: 1rem;
}

.ul {
  border-bottom: 1px solid;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.profile-pic {
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-size: cover;
  color: transparent;
}

pin::before {
  content: "📌 ";
}

.pad-bottom {
  padding-bottom: 1rem;
}

@media (min-width: 769px) {
  .colspan {
    grid-column: span 1;
  }
  .recent-projects {
    grid-row: span 2;
  }
}

@media (min-height: 600px) {
  .profile-pic {
    width: 20vh;
    height: 20vh;
    background-image: url(../assets/profile8x8.jpg);
  }
}

@media (min-height: 1001px) {
  .profile-pic {
    width: 15vh;
    height: 15vh;
    background-image: url(../assets/profile9x9.jpg);
  }
}

@media (min-height: 2001px) {
  .profile-pic {
    width: 10vh;
    height: 10vh;
    background-image: url(../assets/profile10x10.jpg);
  }
}

@media ((min-width: 769px) and (min-height: 769px)) {
  .sticky-if {
    position: sticky;
    top: 3rem;
    padding-bottom: 1rem;
  }
}

.title-date {
  position: relative;
}

.no-break {
  page-break-inside: avoid;
}

h4 {
  margin-top: 1em;
}

section {
  margin-bottom: 2rem;
}

@media only screen {
  .if-print {
    display: none;
  }
}

@media only print {
  @page {
    margin: 0;
    margin-top: 1.5em;
  }
  * {
    transition: none !important;
    line-height: 1.2;
    font-family: Times New Roman, serif !important;
    font-size: 11pt !important;
  }
  body,
  body > main {
    padding-bottom: 0;
  }

  a {
    color: inherit;
    font-style: italic;
  }

  a::before {
    content: open-quote;
  }

  a::after {
    content: close-quote;
  }

  p {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 20pt !important;
    letter-spacing: 0.8em;
  }

  h1,
  h2 {
    text-transform: uppercase;
  }

  nav {
    font-size: smaller;
  }
  nav > p > i {
    display: none;
  }

  nav > p > span,
  nav > p > a {
    width: 100%;
    text-align: center;
  }

  .sticky-if,
  .sticky {
    position: inherit;
  }

  .if-screen {
    display: none !important;
  }

  .colspan {
    grid-column: span 1;
  }

  .skills > li::before,
  ul > li::before {
    content: "• " !important;
  }

  .title-date span:last-child {
    /* align to right edge of parent */
    position: absolute;
    right: 0;
    text-align: right;
  }

  section:last-child {
    margin-bottom: 0;
  }
}
